.child {
  display: flex;
}

.child * .child {
  flex: 1;
  justify-content: center;
}

.file {
  display: flex;
  flex-direction: column;
}

.file * .file {
  flex: 1;
}

/* .generation .child {
  align-items: flex-end;
} */

/* .generation {
  flex: 1;
  justify-content: center;
} */
