.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file {
  display: flex;
  flex-direction: column;
}

.file * .file {
  flex: 1;
}

.generation {
  display: flex;
}
